.all_container{
	 display : flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	width:100%;
}





.split-container {
	
	gap: 20px;
	display: inline-flex;
	
}

.box {
	margin: 0 auto;
	padding-right: -100px;
	flex: 1;
	height: 100%;
	display: flex;
	box-sizing: border-box;
	border-radius: 20px;
	
}

.left-box {
	margin-left: 70px;
	
	background-color: #e0e0e0;
	color: black;
	border-right: 1px solid #eee;
	height: 800px;
	width: 570px;
	align-items: center;
	
}
.leftImg {
	margin: 0 auto;
	border-radius: 20px;
	width :570px;
height :auto;
max-height :100%; 
  object-fit: cover;
}
.right-box {

	
	background-color: #eee;
	color: black;
	height: 800px;
	min-width: 570px;
	border-left: 1px solid #eee;
	display: table;
}

.detail_button {
	display: flex; margin-left : 20px; margin-top : 30px;
	gap: 10px;
	width: 450px;
	height:30px;
	color: var(--main, #222831);
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
	margin-left: 20px;
}

.bookmark-icon {
	margin-left: 478px;
	margin-top: -60px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}



.detail_title {
	margin-top: 30px;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 700;
	max-width: 530px;
	min-height: 40px;
	overflow: hidden;
}

.user_nickline {
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	
}

.user_nickname {
	margin-left: 10px;
	min-width: 150px;
}

.profileimg {
    width: 50px;
    height: 50px;
    	 border-radius: 70%;
    overflow: hidden;   
     object-fit: cover;
    
}




templateUse {
	margin-top: 1px;
}

.shareImg {
	margin-top: 4px;
}


.follow {
	border-radius: 20px;
	border: 1px solid var(--point, #00FEA3);
	background: var(--text, #EEE);
	margin-left: 234px;
	color: var(--main, #222831);
	text-align: center;
	width: 70px;
	height: 30px;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}




.follow:hover{
	transition: background-color 0.5s;
	  background-color: #00FEA3;
}

  
.following {
	border-radius: 20px;
	border: 1px solid var(--point, #00FEA3);
	background: var(--text, #EEE);
	margin-left: 234px;
	color: var(--main, #222831);
	  background-color: #00FEA3;
	text-align: center;
	width: 70px;
	height: 30px;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}




.following:hover{
	transition: background-color 0.3s;
	  background-color: #EEE;
}
  
  
  
.templateUse:hover{
	transition:  filter 0.3s;
  filter:invert(67%) sepia(82%) saturate(877%) hue-rotate(101deg) brightness(102%) contrast(102%); /* 이미지의 색상을 변화시키는 효과 */
; /* 호버 시 색상 변경 */
	
}
/* 호버 상태 */

.templateShare:hover {
 transition:  filter 0.3s;
  filter:invert(67%) sepia(82%) saturate(877%) hue-rotate(101deg) brightness(102%) contrast(102%); /* 이미지의 색상을 변화시키는 효과 */
; /* 호버 시 색상 변경 */

}

/* 수정 버튼과 이미지에 대한 호버 효과 */
.updateBtn:hover {
	 transition:  filter 0.3s;
    filter:invert(67%) sepia(82%) saturate(877%) hue-rotate(101deg) brightness(102%) contrast(102%); /* 이미지의 색상을 변화시키는 효과 */
}

/* 삭제 버튼과 이미지에 대한 호버 효과 */
.deleteBtn:hover {
	 transition:  filter 0.3s;
    filter: invert(56%) sepia(95%) saturate(1427%) hue-rotate(295deg); /* 이미지의 색상과 그림자 효과 적용 */
}



.detail_contents{
	margin-top: 20px;
	margin-left: 20px;	
	
	width: 547px;
	font-size: 14px;
font-style: normal;
font-weight: 400;
min-height: 100px;
max-height: 100px;

overflow-x:hidden;
overflow-y:scroll;
padding: 5px;

}

/* 스크롤바 */
.detail_contents::-webkit-scrollbar {
    width: 10px;  
}
.detail_contents::-webkit-scrollbar-thumb {
    height: 20%; 
    background: var(--gray3); 
    border-radius: 5px;
}
.detail_contents::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--gray4);  
}
.detail_contents::-webkit-scrollbar-corner, #board_contents::-webkit-scrollbar-track:horizontal{
    background: transparent;
}











.linkImg{
display: flex;
margin-left: -19px;
margin-bottom: -18px;
margin-right:45px; 
width: 20px;
height: 20px;

}
.detailLink {
	width: 300px;
	margin-top: 20px;
	margin-left: 43px;
	font-size: 13px;
	text-decoration: underline;
	text-underline-offset: 5px;
	text-decoration-thickness: 1px;
}

.detailLink a{
	margin-left: 5px;
}

.detailcommentstart {
	margin-top: 20px;
	margin-left: 25px;
	width: 50px;
	height: 25px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.comment {
	overflow: scroll;
	overflow-x: hidden;
	height: 255px;
	width: 567px;
}

/* 댓글 스크롤바  */
.comment::-webkit-scrollbar {
    width: 10px;  
}
.comment::-webkit-scrollbar-thumb {
    height: 20%; 
    background: var(--gray3); 
    border-radius: 5px;
}
.comment::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--gray4);  
}
.comment::-webkit-scrollbar-corner, #board_contents::-webkit-scrollbar-track:horizontal{
    background: transparent;
}



.detailCommentLine {
	display: flex;
	border: 1px solid #D9D9D9;
	border-radius: 15px;
	width: 507px;
	height: 80px;
	margin-left: 25px;
	margin-top: 20px;
	padding: 10px;
	 
}

.commentProfileImg {
 width: 47px;
    height: 47px;
    	 border-radius: 70%;
    overflow: hidden;    object-fit: cover;
}

.commentUser_nickname {
	margin-left: 10px;
	
}

.commentCreatedat {
	color: #C0C0C0;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
	margin-left: 7px;
	margin-top: 10px;
}
.pncline{
	display: flex;
	min-width: 437px;
	margin-top: -5px;
	
}
.replyB {
	display:inline;
	margin-top: -30px; 
	font-size : 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-size: 14px;
	width: 50px;
	transition: color 0.3s;
	
}


.replyB:hover{

	color: #00FEA3;
}

.CommentD{
	margin-left:-5px;
	margin-bottom: 25px;
	font-size : 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-size: 14px;
	color: var(--gray3);
	width: 50px;
	transition: color 0.3s;
}

.CommentD:hover {
	 
    filter: invert(56%) sepia(95%) saturate(1427%) hue-rotate(295deg); /* 이미지의 색상과 그림자 효과 적용 */
}

.detailComment {
	margin-left: 94px;
	margin-top: -33px;
	font-size: 14px;

  justify-items: center; /* 가로 정렬 방식 설정 (center, start, end 등) */
  align-items: center; 
}

.reply_textarea {
	display: flex;
	border: 1px solid #D9D9D9;
	border-radius: 15px;
	width: 462px;
	height: 80px;
	margin-left: 70px;
	margin-top: 20px;
	padding: 15px;
	white-space: normal;
	box-sizing: border-box;
	line-height: 1;
	font-size: 14px;
	background-color: #eee;
}
.replyCW{
	margin-left: 424px;
	margin-top: 10px;
	transition: color 0.3s;
}


.replyCButton{
	border-radius: 20px;
border: 1px solid #D9D9D9;
background: #D9D9D9;
width: 50px;
height: 25px;
flex-shrink: 0;
font-size: 12px;
font-style: normal;
font-weight: 700;
color: var(--main, #222831);
justify-content: center;
transition: color 0.3s;
}
.replyWButton{
	border-radius: 20px;
border: 1px solid #D9D9D9;
background: #D9D9D9;
width: 50px;
height: 25px;
flex-shrink: 0;
font-size: 12px;
font-style: normal;
font-weight: 700;
color: var(--main, #222831);
justify-content: center;
transition: color 0.3s;
}

.replyCButton:hover,.replyWButton:hover{
		transition: background-color 0.3s;
	background-color: #00FEA3;
}

.hr {
	margin-top: 10px;
	margin-left: 18px;
	border-bottom: 1px solid black;
	width: 530px;
}
.commentWrite{
	
	display: flex;
	margin-left: -15px;
	margin-top:20px;
	align-items: center;
	justify-content: center;
	
}


.commentWProfileImg{
 width: 50px;
    height: 50px;
    	 border-radius: 70%;
    overflow: hidden;    object-fit: cover;


}
.comment_textarea{
	padding:13px;
	justify-content:center;
border-radius: 20px;
border: 1px solid #eee;
width: 480px;
height: 48px;
background: #D9D9D9;
margin-left: 10px;
}
.commentWButton {
	margin-left: -40px;
	color: var(--main, #222831);
text-align: center;
transition: color 0.3s;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.commentWButton:hover 
	{
		transition: color 0.3s;
	color: #00FEA3;}
	
	