.edit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  width: 1000px;
  height: 1150px;
  border: solid 2px var(--text);
  border-radius: 5px;
  margin: 50px auto;
}

.edit_container > a img {
  width: 120px;
  margin-top: 50px;
}


.edit_profile_image {
	width: 150px;
	height: 150px;
	border-radius: 80px;
	background-color: var(--main);
	margin-top: 20px;
	margin-left: 20px;
	background-image: url('/images/profile-default.svg');
    background-size: cover;	
}

.edit_container > p {
  color: var(--text);
  font: var(--heading24);
  margin-top: 20px;
}


.editinfoForm {
  width: 400px;
  padding: 20px;  
}

.editinfoForm > div {
  margin-bottom: 20px;
}
.editinfoForm > div > p {
  font: var(--button16);
  color: var(--text);
  margin-bottom: 5px;
  margin-left: 1px;
}
.editinfoForm > div input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--gray4);
  border-radius: 2px;
  padding: 0 15px;
  font: var(--button14);
  color: var(--text);
}
.editinfoForm > div input:focus {
  border: 2px solid #00FEEF;
  caret-color: var(--neon3); 
}

.editinfoForm > div button {
  height: 30px !important; 
  width: 120px !important;
  border-radius: 4px;
  font: var(--button12);
  border: solid 1px var(--neon3);
  color: var(--text);
  transition: background-color 0.2s;
  margin-left: 170px;
  margin-top: 60px;
  padding-bottom: 1px;
}

.editinfoForm > div button:hover {
  color: var(--main);
  background-color: var(--neon3);
}

.edit_userWrapper {
  text-align: center;
  margin-top: 5px;
}

.userId {
	font: var(--heading20);
}

.edit_userWrapper .profileImage {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  margin: 20px 0 -10px 0;
}

.edit_userWrapper .editButton {
  margin-left: 30px; 
}


.required {
	position: relative;	
	color: #FC3131;
	font: var(--caption12);	
}

.edit_passwordWrapper p{
  margin: 20px 0 5px 0;
}

button.submit {
  width: 100%;
  height: 50px;
  border: solid 2px var(--neon3);
  font: var(--heading18);
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.2s;
  padding-top: 3px;
}

button.submit:hover {
  background-color: var(--neon2);
}

#Rule {
	font: var(--caption12);
	color: var(--gray4);
}
