.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  width: 600px;
  height: 950px;
  border: solid 2px var(--text);
  border-radius: 5px;
  margin: 0 auto;
}


.profile-image {
	width: 120px;
	height: 120px;
	border-radius: 80px;
	background-color: var(--main);
	margin-top: 20px;
	margin-left: 40px;
	background-image: url('/images/profile-default.svg');
    background-size: cover;	
}

.container > p {
  color: var(--text);
  font: var(--heading24);
  margin-top: 20px;
}

.close a img {
  width: 35px;
  height: 35px;
  margin: 15px 0 0 520px;
}

.signupForm {
  width: 400px;
  padding: 20px;  
}

.signupForm > div {
  margin-bottom: 20px;
}
.signupForm > div > p {
  font: var(--button16);
  color: var(--text);
  margin-bottom: 5px;
}
.signupForm > div input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--gray4);
  border-radius: 2px;
  padding: 0 15px;
  font: var(--button14);
  color: var(--text);
}
.signupForm > div input:focus {
  border: 2px solid #00FEEF;
  caret-color: var(--neon3); 
}

.signupForm > div button {
  height: 25px; 
  width: 120px;
  border-radius: 4px;
  font: var(--button12);
  border: solid 1px var(--neon3);
  color: var(--text);
  transition: background-color 0.2s;
  margin-left: 130px;
  margin-top: 50px;
}

.signupForm > div button:hover {
  color: var(--main);
  background-color: var(--neon3);
}

.userWrapper {
  text-align: center;
  margin-top: 5px;
}

.userId {
	font: var(--heading20);
}

.userWrapper .profileImage {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  margin: 20px 0 -10px 0;
}

.userWrapper .editButton {
  margin-left: 30px; 
}

.required {
	position: relative;	
	color: #FC3131;
	font: var(--caption12);	
}

.password p{
  margin: 20px 0 5px 0;
}

button.submit {
  width: 100%;
  height: 50px;
  background-color: var(--neon3);
  font: var(--heading18);
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.2s;
}

button.submit:hover {
  background-color: var(--neon2);
}
