.mypage_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */  
}

.mypage-profile-image {
	width: 150px;
	height: 150px;
	border-radius: 80px;
	background-color: var(--sub);
	margin-bottom: 20px;
	margin-top: 30px;
	margin-left: 5px;
	background-image: url('/images/profile-default.svg');
    background-size: cover;	
}

.contentWrap .userInfo .user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}


.contentWrap .userInfo .user > p:first-of-type {
  font: var(--heading34);
  margin-bottom: 12px;
}


.user >button{
  width: 100px;
  height: 30px;
  font: var(--button12);
  color: var(--text);
  border: solid 1px var(--neon3);
  border-radius: 5px;
  background-color: var(--sub);
  transition: background-color 0.2s;
}

.user >button:hover{
  color: var(--main);
  background-color: var(--neon3);
}

.contentWrap .userInfo .user {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 12px;
}

.user img {
  width: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.categoryWrap {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  border-bottom: 3px solid var(--neon3);
  margin-top: 50px;
  margin-bottom: 20px;
}

.category {
	width: 80%;
    min-width: 200px;
    height: 40px;
    position: relative;
     
}

.category a {
    width: 100%;
    height: 100%;
    display: flex;
    font: var(--heading18);
    justify-content: center;
    align-items: center;    
    cursor: pointer;  
}

.category a:hover {   
        border-bottom: 7px solid var(--neon3);
}

.infoWrap { 
  display: flex; 
  justify-content: center; 
  width: 70%;
  min-height: 700px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 80px;
  background-color: var(--main);
  padding-top: 50px;
  padding-bottom:80px;
 }
 
      
      
.myTemplate_list {
	 width: 100%;
}

.bookmarks_list {
    width: 100%;
}

      
.myTemplate_list .myTemplates {
	padding-top : 10px;
	display : flex;
	justify-content: center;
	width:100%;	
}


.bookmarks_list .bookmarks {
	padding-top : 10px;
	display : flex;
	justify-content: center;
	width:100%;	
}


.grid-item { width: 250px; }
.grid-item {
	margin-bottom:15px; 
	border-radius: 20px; 
	overflow:hidden;
	
	/* for 이미지호버 */
	position:absolute;
	cursor:pointer;
}
.grid-item img {
	display: block; 
	min-width:100%; 
	max-width: 100%; 
}

/* for 이미지 호버 */
.darkness {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000000;
  opacity:0;
  transition:all .2s;
}

.btn-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	/* transform:scale(2); */
	transition:all .2s;
}


.mypage_bookmark_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.mypage_bookmark_btn {
	width : 100%;
	height : 100%;
}

.grid-item:hover .darkness{
  opacity:0.4;
}

.grid-item:hover .btn-plus {
  opacity:1;
  transform:scale(1);
}

/*북마크 된 상태일때*/
.bookmarked-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display : none;
}
.mypage_bookmarked_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.mypage_bookmarked_btn {
	width : 100%;
	height : 100%;
}







.mypage_unlock_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.mypage_unlock_btn {
	margin-left: 5px;
	width : 100%;
	height : 100%;
}



/*북마크 된 상태일때*/
.lock-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display : none;
}
.mypage_lock_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.mypage_lock_btn {
	margin-top: 12px;
	margin-left: 5px;
	width : 58%;
	height : 58%;
}