.mypage_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */  
}

.mypage-profile-image {
	width: 150px;
	height: 150px;
	border-radius: 80px;
	background-color: var(--sub);
	margin-bottom: 20px;
	margin-top: 30px;
	background-image: url('/images/profile-default.svg');
    background-size: cover;	
}

.mypage-profile-image >img {
	width: 150px;
	height: 150px;
	border-radius: 80px;	
	object-fit: cover;
}

.contentWrap .userInfo .user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.contentWrap .userInfo .user > span:first-of-type {
  font: var(--heading34);
}

.contentWrap .userInfo .user #git {
        font: var(--heading20);
        margin-bottom: 10px;
    }
    
#git img {
    vertical-align: middle;
    margin-right: 5px;
}

.user >button{
  width: 100px;
  height: 30px;
  font: var(--button12);
  color: var(--text);
  border: solid 1px var(--neon3);
  border-radius: 5px;
  background-color: var(--sub);
  transition: background-color 0.2s;
}

.user >button:hover{
  color: var(--main);
  background-color: var(--neon3);
}

.contentWrap .userInfo .user {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 12px;
}

.categoryWrap {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  border-bottom: 3px solid var(--neon3);
  margin-top: 50px;
  margin-bottom: 20px;
}

.category {
	width: 80%;
    min-width: 200px;
    height: 40px;
    position: relative;  
}

.category a {
    width: 100%;
    height: 100%;
    display: flex;
    font: var(--heading18);
    justify-content: center;
    align-items: center;    
    cursor: pointer;  
}

.category a:hover {   
        border-bottom: 7px solid var(--neon3);
}

.infoWrap { 
  display: flex; 
  justify-content: center; 
  width: 1300px;
  min-height: 700px;  
  height: 700px;
  border-radius: 5px;
  margin-bottom: 80px;
  background-color: var(--main);
}     
      
      
.mypage_list {
	 width: 100%;
	 display : flex;
	 justify-content : center;
	 flex-flow : row wrap;
}
      
.mypage_list .mypage {
	padding-top : 10px;	
	display: flex;
	flex-flow : row wrap;
	margin : 0 auto;
	width: 90%;
	margin-top: 25px;
	justify-content : center;
}

.grid-item {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	width: 210px;
	height: 300px; 
}

.grid-item img {
	display: block; 
	width : 100%;
	height:100%;
	object-fit: cover;	
}


/* for 이미지 호버 */
.darkness {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000000;
  opacity:0;
  transition:all .2s;
}


.btn-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	/* transform:scale(2); */
	transition:all .2s;
}
.main_bookmark_box{
	height:40px;
	margin-right: 13px;
	margin-top: 8px;
	cursor:pointer;
	float : right;
}
.main_bookmark_btn {
	width : 100%;
	height : 100%;
}

.grid-item:hover .darkness{
  opacity:0.4;
}

.grid-item:hover .btn-plus {
  opacity:1;
  transform:scale(1);
}

/*북마크 된 상태일때*/
.bookmarked-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display : none;
}
.main_bookmarked_box{
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.main_bookmarked_btn {
	width : 100%;
	height : 100%;
}


.lock-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display : none;
}
.main_lock_box{
	height: 35px;
	margin-right : 20px;	
	cursor:pointer;
	float : right;
}
.main_lock_box img{		
	margin-top: 10px;
}

.main_lock_btn {
	width : 100%;
	height : 100%;
}
/*페이징 버튼*/
#board_paging_box {
	width : 100%; height : 30px;
	display : flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
#board_paging_box > div {
	display : flex;	
	display : flex;
	justify-content: center;
	align-items: center;
}
.pageNumBtn, .pageBtn{
	font-size : 18px;
	margin : 8px;
	border : none;
	background-color: transparent;
	cursor: pointer;
	color : var(--text);
	display : flex;
	justify-content: center;
	align-items: center;
}

.no_list {
	height: 200px;
	font-size: 30px;
	line-height: 200px;
	color: var(--point);
}