#header{
	width:100px;
	height: 100%;
	min-height:720px;
	background: var(--main, #222831);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 5;
}

#header_logo{
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#header_logo>img{
	width: 80px;
}

.header_item{
	width: 100px;
	height: 80px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 5px solid var(--main);
}

.header_item>img{
	width: 30px;
	height: 30px;
	filter: invert(98%) sepia(2%) saturate(137%) hue-rotate(214deg) brightness(116%) contrast(87%);
}

.header_item>span{
	font:var(--highlight16);
	color: var(--text);
	margin-top: 5px;
}

.header_item:hover{
	background-color: var(--dark);
	border-right: 5px solid var(--point, #00FEA3);
	cursor: pointer;
}

.header_item:hover>img{
	filter: invert(79%) sepia(22%) saturate(5577%) hue-rotate(105deg) brightness(98%) contrast(114%);
}
.header_item:hover>span{
	color:var(--point);
}

#header_down{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:15px;
}

#header_down button{
	font:var(--heading18);
	padding:5px 15px;
}

#header_down button:nth-last-child(1) {
	color: var(--point);
	padding-bottom: 30px;
}



#loginbtn{
	background-color: var(--point);
	color: var(--main);
	border-radius: 15px;
}

#loginbtn:hover{
	background-color: var(--neon2);
}



#header_down img{
	width: 40px;
	height: 40px;
}

#main_box{
	width: 100%;
	margin-left: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main_contents{
	width: 100%;
	height: auto;
	margin: 0 auto;
}