/* 상단 검색바 관련 */
#top_fixed_box {
	width : 100%;
	height : 85px;
	display: flex;
    justify-content: center;
 	position : relative;
}
#search_area{
	width : 94%;
	height : 80px;
	flex-shrink: 0;
	display: flex;
    align-items: center;
    justify-content: center;
 	position: fixed;
    z-index : 10;
	margin-left : 0;
	background-color : var(--sub);
}
#search_top_box{
	width : 91%;
	height : 80px;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color : var(--sub);
}

#search_box{
	width : 100%;
	height : 60px;
	flex-shrink: 0;
	display: flex;
    align-items: center;
    justify-content: center;
	border-bottom : 1px solid var(--point);
}
#search_icon_box {
	width : 50px;
	height : 50px;
	margin-left : 10px;
}
#search_icon_img{
	width : 100%;
	height : 100%;
}
#search_word_box{
	width : 100%;
	height : 50px;
	margin-left : 10px;
}
#search_word_input{
	width : 90%;
	height : 50px;
	color : var(--text);
	font-size : 20px;
}
#search_below_box{
	width : 100%;
	height : auto;
	flex-shrink: 0;
	margin-top : 205px;
	position: absolute;
	z-index : 10;
	display:none;
	background-color : var(--sub);
}
#search_btns_box{
	width : 90%;
 	padding : 20px;
	margin : 0 auto;
	border-radius : 20px;
	border : 1px solid var(--point);
	background-color : var(--sub);
}
.search_words_box{
	width : 90%;
	display : flex;
	font-size : 15px;
}
.one_searchword{
	width : max-content;
	height : 35px;
	border-radius: 2em;
	background-color: var(--text); 
	display : flex;
	align-items:center;
	justify-content : center;
	border : 1px solid black;
	margin : 10px;
}
.search_keyword, .remove_keyword{
	width : max-content;
	height : 100%;
	margin-right : 10px;
	margin-left : 10px;
	color : black;
	display : flex;
	align-items:center;
	justify-content : center;
	cursor: pointer;
} 

/* 본문 부분(템플릿 이미지 나열) */
#main_gallery{
	/* padding-top : 10px; */
	display : flex;
	justify-content: center;
	width:100%;
	height : auto;
	margin-top : 10px;
}
.grid { 
	width:90%;	
	margin : 0 auto;
	/* border : 1px solid white;  */
	padding-left: 20px;
}
.grid-sizer, .grid-item { width: 250px; }
.grid-item {
	margin-bottom:15px; 
	border-radius: 20px; 
	overflow:hidden;
	
	/* for 이미지호버 */
	position:absolute;
	cursor:pointer;
}
.grid-item img {
	display: block; 
	min-width:100%; 
	max-width: 100%; 
}

/* for 이미지 호버 */
.darkness {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000000;
  opacity:0;
  /* transition:all .2s; */
}

.btn-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	/* transform:scale(2); */
	/* transition:all; */
}
.main_bookmark_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.main_bookmark_btn {
	width : 100%;
	height : 100%;
}

.grid-item:hover .darkness{
  opacity:0.4;
}

.grid-item:hover .btn-plus {
  opacity:1;
  transform:scale(1);
}

/*북마크 된 상태일때*/
.bookmarked-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display : none;
}
.main_bookmarked_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.main_bookmarked_btn {
	width : 100%;
	height : 100%;
}