.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */  
}

.profile-image {
	width: 150px;
	height: 150px;
	border-radius: 80px;
	background-color: var(--sub);
    background-size: cover;	
}

.userInfo {
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	gap: 10px 30px;
	padding-top: 50px;
}

.userInfo .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.userInfo .user .nick-name{
  font: var(--heading34);
}

.userInfo .user .git-name a{
  display: flex;
  align-items: center;
  gap:5px;
  font: var(--heading20);
}

.userInfo .user .git-name span{
	margin-top:4px;
}

.userInfo .user .follow-num{
  font: var(--heading18);
}

.follow_button #followingbtn {
	width: 100px;
	height: 40px;
	background-color: var(--neon3);
	font: var(--button14);
	border-radius: 5px;
	padding-top: 1px;
	transition: background-color 0.2s;
}

.follow_button #followingbtn:hover {
	border: solid 2px var(--neon3);
	color: var(--neon5);
	background-color: var(--sub);
}

.follow_button #followbtn {
	width: 100px;
	height: 40px;
	border: solid 2px var(--neon3);
	background-color: var(--sub);
	color: var(--neon3);
	font: var(--button14);
	border-radius: 5px;
	padding-top: 1px;
	transition: background-color 0.2s;
}

.follow_button #followbtn:hover {
	color: var(--sub);
	background-color: var(--neon3);
}

.categoryWrap {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  border-bottom: 7px solid var(--neon3);
  margin-top: 30px;
  margin-bottom: 20px;
}

.category {
	width: 80%;
    min-width: 200px;   
    position: relative;
}

.category p {    
    display: flex;
    font: var(--heading18);
    justify-content: center;
    align-items: center; 
    margin-bottom: 3px;      
}

.infoWrap { 
  display: flex; 
  justify-content: center; 
  width: 70%;
  min-height: 700px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 80px;
  background-color: var(--main);
  padding-top: 50px;
 }
 
/* 본문 부분(템플릿 이미지 나열) */
#listWrap {
	display: flex;
	justify-content: center;
	width: 70%;
	height: auto;
	max-height: 700px;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: var(--main);
	padding:30px;
}

#templateWrap{
	display : flex;
	justify-content: center;
	flex-wrap:wrap;
	gap:10px;
	width:100%;
}

.templates {
	width: 210px;
	height: 300px;
	border-radius: 20px; 
	overflow:hidden;
	
	/* for 이미지호버 */
	position:relative;
	cursor:pointer;
}
.templates img {
	display: block;
	width:100%;
	height:100%;
	object-fit: cover;	
}
/* for 이미지 호버 */
.darkness {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000000;
  opacity:0;
  transition:all .2s;
}

.btn-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	/* transform:scale(2); */
	transition:all .2s;
}

.main_bookmark_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.main_bookmark_btn {
	width : 100%;
	height : 100%;
}

.templates:hover .darkness{
  opacity:0.4;
}

.templates:hover .btn-plus {
  opacity:1;
  transform:scale(1);
}

/*북마크 된 상태일때*/
.bookmarked-plus {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display : none;
}
.main_bookmarked_box{
	width : 40px;
	height : 60px;
	margin-right : 20px;
	cursor:pointer;
	float : right;
}
.main_bookmarked_btn {
	width : 100%;
	height : 100%;
}

/*페이징 버튼*/
#board_paging_box {
	width : 100%; 
	height : 30px;
	display : flex;
	justify-content: center;
	align-items: center;
}
#board_paging_box > div {
	display : flex;	
	display : flex;
	justify-content: center;
	align-items: center;
}
.pageNumBtn, .pageBtn{
	font-size : 18px;
	margin : 8px;
	border : none;
	background-color: transparent;
	cursor: pointer;
	color : var(--text);
	display : flex;
	justify-content: center;
	align-items: center;
}