#badge_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	display:none;
}

#badge_modal .modal_box {
	position:relative;
	width: 450px;
	height: auto;
	flex-shrink: 0;
	border-radius: 5px;
	border: 2px solid var(--text, #EEE);
	background: var(--main, #222831);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 50px;
}

#badge_modal .closebox{
	height:25px;
	position: absolute;
	top:10px;
	right: 10px;
	cursor:pointer;
}


#badge_modal .modal_title {
	color: var(--text, #EEE);
	font: var(--heading24);
}

#badge_modal .modal_tab {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--neon4);
}

#badge_modal .tabbtn {
	width: 70px;
	height: 30px;
	font: var(--button14);
	color: var(--text);
	border-bottom: 3px solid transparent;
}

#badge_modal .tabbtn:hover {
	color: var(--neon4);
	border-bottom: 3px solid var(--neon4);
}

#badge_modal .tabbtn.active {
	border-bottom: 3px solid var(--neon4);
}

#badge_modal .modal_searchbox {
	width: 300px;
	text-align: center;
	border-bottom: 1px solid var(--neon-3, #00FEEF);
}

#badge_modal .modal_searchbox>p {
	text-align: center;
	font: var(--button12);
	margin-bottom: 5px;
}

#badge_modal .modal_searchbox>div{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:5px;
}

#badge_modal .modal_searchbox>div>img {
	width: 30px;
	height: 30px;
}

#badge_modal .modal_searchbox>div>input {
	width: 250px;
	height: 30px;
	border-radius: 1px;
	text-align: center;
	font: var(--button14);
	line-height: 30px;
	color: var(--text);
}

#badge_modal .modal_result {
	width: 300px;
	height: 150px;
	overflow-y: scroll;
	background: var(--dark); /* 스크롤바 뒷 배경 색상 */
}

#badge_modal .modal_result::-webkit-scrollbar {
    width: 5px;
}

#badge_modal .modal_result::-webkit-scrollbar-thumb {
    background: var(--neon-3, #00FEEF); /* 스크롤바 막대 색상 */
    border: 2px solid var(--neon-3, #00FEEF); /* 스크롤바 막대 테두리 설정  */
    border-radius: 10px;
}

#badge_modal .modal_result::-webkit-scrollbar-track {
	background: var(--dark); /* 스크롤바 뒷 배경 색상 */
}

#badge_modal .modal_result>button {
	color: var(--text);
	width: 100%;
	height: 30px;
	border-bottom: 1px solid var(--neon-3, #00FEEF);
}

#badge_modal .modal_result>button:nth-child(1) {
	height: 35px;
	border-top: 3px solid var(--neon-3, #00FEEF);
}

#badge_modal .modal_result>button:nth-last-child(1) {
	border-bottom: 3px solid var(--neon-3, #00FEEF);
}

#badge_modal .modal_result_badges>p {
	text-align: center;
	font: var(--button12);
	margin-bottom: 5px;
}

#badge_modal .modal_result_badges>p:nth-child(1) {
	font: var(--button14);
}

#badge_modal .modal_result_badges>div {
	max-width: 350px;
	max-height: 110px;
	background: var(--dark, #161A20);
	display: flex;
	justify-content: center;
	gap:5px;
	flex-wrap:wrap;
	padding:20px;
	overflow-y: scroll;
}

#badge_modal #choosed_badges::-webkit-scrollbar {
    width: 5px;
}

#badge_modal #choosed_badges::-webkit-scrollbar-thumb {
    background: var(--neon-3, #00FEEF); /* 스크롤바 막대 색상 */
    border: 2px solid var(--neon-3, #00FEEF); /* 스크롤바 막대 테두리 설정  */
    border-radius: 10px;
}

#badge_modal #choosed_badges::-webkit-scrollbar-track {
	background: var(--dark); /* 스크롤바 뒷 배경 색상 */
}

#badge_modal .modal_result_badges>div>button {
	color: var(--main);
	font: var(--button12);
	line-height:12px;
	padding:10px 20px;
	border-radius : 20px;
	background: #00FEEF;
	border-radius: 20px;
}

#badge_modal .modal_btns{
	width: 300px;
	display: flex;
	justify-content: center;
	gap:10px;
}

#badge_modal .modal_btns>button{
	width:145px;
	height: 35px;
	font: var(--button14);
	color:var(--text);
	line-height:14px;
	border-radius: 5px;
	border: 1px solid var(--neon-3, #00FEEF);
}

#badge_modal .modal_btns>button:hover{
	color:var(--main);
	background: var(--neon-3, #00FEEF);
}