#alert_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	display:none;
}

#alert_modal .modal_box {
	position: relative;
	width: 400px;
	height: 300px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 2px solid var(--text, #EEE);
	background: var(--main, #222831);
	padding: 30px;
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items: center;
	gap:15px;
}

#alert_modal .modal_box::-webkit-scrollbar {
	width: 5px;
}

#alert_modal .modal_box::-webkit-scrollbar-thumb {
	background: var(--neon4, #00FEEF); /* 스크롤바 막대 색상 */
	border: 2px solid var(--neon4, #00FEEF); /* 스크롤바 막대 테두리 설정  */
}

#alert_modal .modal_box::-webkit-scrollbar-track {
	background: var(--dark); /* 스크롤바 뒷 배경 색상 */
}

#alert_modal .closebox {
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#alert_modal .logobox>img{
	width:100px;
}


#alert_modal .modal_alert_text {
	color: var(--text, #EEE);
	font-size:20px;
	text-align: center;
}

#alert_modal .modal_btns {
	width: 300px;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 0px;
}

#alert_modal .modal_btns>button {
	width: 145px;
	height: 35px;
	font: var(--button14);
	color: var(--text);
	line-height: 14px;
	border-radius: 5px;
	border: 1px solid var(--neon-3, #00FEEF);
}

#alert_modal .modal_btns>button:hover {
	color: var(--main);
	background: var(--neon-3, #00FEEF);
}