#top_langs_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	display:none;
}

#top_langs_modal .modal_box {
	position: relative;
	width: 500px;
	height: 800px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 2px solid var(--text, #EEE);
	background: var(--main, #222831);
	padding: 50px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}

#top_langs_modal .modal_box>*{
	margin: 0 auto 20px auto;
}

#top_langs_modal .modal_box::-webkit-scrollbar {
	width: 5px;
}

#top_langs_modal .modal_box::-webkit-scrollbar-thumb {
	background: var(--neon4, #00FEEF); /* 스크롤바 막대 색상 */
	border: 2px solid var(--neon4, #00FEEF); /* 스크롤바 막대 테두리 설정  */
}

#top_langs_modal .modal_box::-webkit-scrollbar-track {
	background: var(--dark); /* 스크롤바 뒷 배경 색상 */
}

#top_langs_modal .closebox {
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#top_langs_modal .modal_title {
	color: var(--text, #EEE);
	font: var(--heading24);
}

#top_langs_modal .modal_subtitle {
	color: var(--text, #EEE);
	font: var(--heading20);
}

/* 깃허브 아이디 입력박스 */
#top_langs_modal .modal_inputbox{
	margin: 20px auto;
	width: 300px;
}
#top_langs_modal .modal_inputbox>div {
	width: 300px;
	text-align: center;
	border-bottom: 1px solid var(--neon-3, #00FEEF);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#top_langs_modal .modal_inputbox>div>span {
	width: 100px;
	font: var(--highlight14);
	text-align: center;
	border-right: 1px solid var(--text);
	padding: 0 10px;
}

#top_langs_modal .modal_inputbox>div>input {
	width: 200px;
	height: 30px;
	border-radius: 1px;
	text-align: left;
	font: var(--button14);
	line-height: 30px;
	color: var(--text);
	padding: 0 10px;
}

#top_langs_modal .modal_inputbox>p {
	width: 300px;
	text-align: center;
	font: var(--button14);
	line-height: 14px;
	color: var(--text);
	padding: 10px;
}

/* 추가인풋 입력박스 */
#top_langs_modal #additional_option_btn{
	cursor: pointer;
	display:block;
	color:var(--neon2);
}

#top_langs_modal #additional_option_box{
	display:none;
}

#top_langs_modal .modal_inputbox_option{
	margin: 20px auto;
	width: 400px;
}

#top_langs_modal .modal_inputbox_option>p:nth-child(1){
	font: var(--button14);
	margin-bottom: 10px;
}
#top_langs_modal .modal_inputbox_option>p:nth-child(3){
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}
#top_langs_modal .modal_inputbox_option>input{
	width: 400px;
	height:35px;
	border-radius: 1px;
	border: 1px solid var(--neon4, #00FEEF);
	background: var(--text, #EEE);
	padding:10px;
	text-align: center;
	line-height: 35px;
}

/* 레이아웃 테이블 */
#top_langs_modal .tablebox {
	width: 400px;
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--dark);
	margin-top: 5px;
}

#top_langs_modal .tablebox table {
	width: 100%;
}

#top_langs_modal .tablebox table thead {
	width: 100%;
}

#top_langs_modal .tablebox table thead tr {
	display: grid;
	grid-template-columns: 130px 260px;
	border-bottom: 2px solid var(--neon4);
}

#top_langs_modal .tablebox table thead th {
	font: var(--highlight14);
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#top_langs_modal .tablebox table tbody {
	width: 100%;
	text-align: center;
}

#top_langs_modal .tablebox table tbody tr {
	display: grid;
	grid-template-columns: 130px 260px;
	border-bottom: 1px solid var(--neon4);
}

#top_langs_modal .tablebox table tbody td {
	height: auto;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#top_langs_modal .tablebox table tbody label {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

#top_langs_modal .tablebox table tbody label span {
	font: var(--button12);
	text-align: left;
}

#top_langs_modal .tablebox table tbody [type="radio"] {
	vertical-align: middle;
	appearance: none;
	border: max(1px, 0.1em) solid var(--neon4);
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	transition: border 0.2s ease-in-out;
}

#top_langs_modal .tablebox table tbody [type="radio"]:checked {
	border: 0.4em solid var(--neon4);
}

#top_langs_modal .tablebox table tbody [type="radio"]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) var(--gray2);
}

#top_langs_modal .tablebox table tbody td img {
	width: 220px;
}

#top_langs_modal .tablebox::-webkit-scrollbar {
	width: 5px;
}

#top_langs_modal .tablebox::-webkit-scrollbar-thumb {
	background: var(--neon4, #00FEEF);
	border: 2px solid var(--neon4, #00FEEF);
	border-radius: 10px;
}

#top_langs_modal .tablebox::-webkit-scrollbar-track {
	background: var(--dark);
}

/* searchbox */
#top_langs_modal .modal_searchbox {
	margin-top: 10px;
	width: 300px;
	text-align: center;
	border-bottom: 1px solid var(--neon-3, #00FEEF);
}

#top_langs_modal .modal_searchbox>p {
	text-align: center;
	font: var(--body14);
}

#top_langs_modal .modal_searchbox>div{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:5px;
}

#top_langs_modal .modal_searchbox>div>img {
	width: 30px;
	height: 30px;
}

#top_langs_modal .modal_searchbox>div>input {
	width: 250px;
	height: 30px;
	border-radius: 1px;
	text-align: left;
	font: var(--button14);
	line-height: 30px;
	color: var(--text);
}

#top_langs_modal .modal_btns {
	width: 300px;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 0px;
}

#top_langs_modal .modal_btns>button {
	width: 145px;
	height: 35px;
	font: var(--button14);
	color: var(--text);
	line-height: 14px;
	border-radius: 5px;
	border: 1px solid var(--neon-3, #00FEEF);
}

#top_langs_modal .modal_btns>button:hover {
	color: var(--main);
	background: var(--neon-3, #00FEEF);
}

@keyframes vibration 
{from { transform:translateY(-2px);}
to {transform: translateY(2px);}
}